@font-face{
  font-family: 'Wedges';
  src: url('./components/assets/fonts/Wedges.ttf')
}

@font-face{
  font-family: 'Sage Sans';
  src: url('./components/assets/fonts/sagesans-Regular.ttf')
}

body {
  background-image: URL('./components/assets/bg-images/landing-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 1px;
  font-family: 'Sage Sans', 'Wedges';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
