/* .search {
    position: fixed;
    z-index: 7;
    right: 30%;
    top: 34px;
} */

.title {
    font-family: 'Wedges';
    /* background: linear-gradient(to right, rgb(255,247,125), rgb(184,219,255), rgb(153,102,204));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: 0px 2px 0px black,
    0px 4px 0px black,
    0px 6px 0px black;
  }
 
  .titles {
    display: flex;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding-top: 5%;
    background-color: white;
    ;
  }

  .search {
    margin-bottom: 4em;
    margin-top: 2em;
  }