.pagination {
    position: absolute;
    left: 40%;
    top: 37%
}

.buttonRight {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-color: transparent;
    background-color: rgb(218, 218, 218);
}

.buttonLeft {
    margin-left: 5px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: transparent;
    background-color: rgb(218, 218, 218);
}

.input {
    width: 35px;
    margin-right: 5px;
    border-color: transparent;
    font-family: 'Sage Sans';
    text-align: center;
}