.container {
    background-color: rgb(255, 255, 255);
    height: 60px;
    margin-top: 2px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    padding-top: 15px;
    box-shadow: 2px 2px 15px rgb(239, 239, 239);
}

.buttoncontainer {
    float: right;
    margin-top: 12px;
    margin-right: 950px;
  }

.button {
    display: inline-block;
    margin-left: 50px;
    border: transparent;
    height: 35px;
    background-color: transparent;
    font-family: 'Sage Sans';
    font-size: 15px;
}

.button:hover {
    color: rgba(0, 0, 0, 0.811);
    transition: 0.3s ease;
    cursor: pointer;
}

.img {
    margin-top: 7px;
    margin-left: 60px;
    position: absolute;
}

.img:hover {
    opacity: 0.9;
    transition: 0.3s ease;
}